.vertical-timeline-element-date {
  color: #fff;
  opacity: 0; /* Change the color to white */
}

.react-vertical-timeline .vertical-timeline-element-content::before {
  background: transparent !important;
}

.App1{
  padding: 10px;
  padding-left: 45px;
}
