.vertical-timeline-element-date {
  color: #fff; /* Change the color to white */
}
.App1{
  padding: 17px;
  
}
.vertical-timeline-element-title{
 font-size:24px;

}
.vertical-timeline-element-subtitle{
  font-size:30px ;
  font-weight: 700;
}

